/**
 * Fira Code font
 */

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/firacode-light.woff2') format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/firacode-regular.woff2') format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/firacode-medium.woff2') format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/firacode-semibold.woff2') format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Fira Code';
    src: url('/assets/fonts/firacode-bold.woff2') format('woff2');
    font-weight: 700;
}
