// Colors
$color-gray-dark: #1e1e1e;
$color-purple-light: #f2c9fc;
$color-purple-medium: #c73fe8;
$color-white: #ffffff;

$main-color: $color-white;

$second-color: $color-purple-medium;
$second-light-color: rgba(199, 63, 232, 0.1);

// Fonts
$second-font: 'Fira Code', 'sans-serif';